img {
    width: 300px;
    height: auto;

}

.curri {
    font-family: Arial, Helvetica, sans-serif;
    display: flez;
    grid-template-columns: 50%, 50%;
}


.parte {
    background-color: midnightblue;
    color: aliceblue;
    float: left;
    justify-content: center; 
    width: 30%; 
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
}

.partes {
    float: left; 
    width: 40%; 
    box-sizing: border-box; 
    padding: 10px;
    border: 2px solid #333;
}

